.App {
    background-color: #eee;
}
.alphabets-container,
.operators-container,
.expression-container {
    display: flex;
    background-color: white;
    /* margin-bottom: 20px; */
    overflow-x: scroll;
    align-items: center;
}
.alphabet,
.rsh-integer {
    height: 100px;
    width: 110px;
    background-color: lightgreen;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    cursor: all-scroll;
}

.rsh-integer {
    background-color:coral;
}

.operators-box {
    display: flex;
    margin-right: 50px;
}
.operators-box {
    cursor: pointer;
}
.operators-box:first-child {
    cursor: all-scroll;
}

.operator {
    height: 50px;
    width: 110px;
    background-color: plum;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: 700;
}

.expression-container {
    height: 150px;
    width: calc(100%-5px);
    background-color: white;
    border: 4px dashed gray;
    margin-bottom: 20px;
}

#calculate-button {
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
